{% extends 'base.html' %}
{% block content %}
<h3 class="cyan-text text-lighten-2 center-align">Edit Category</h3>
  <div class="card-panel grey lighten-5">
  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">

  <!-- category name -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-folder-open prefix cyan-text text-lighten-2"></i>
          <input id="category_name" name="category_name" type="text" class="validate"
          minlength="3" maxlength="25" value="{{ category.category_name }}" required>
          <label for="category_name">Category Name</label>
        </div>
      </div>
     
        <!-- submit button -->
        <div class="row">
        <div class="col s12 center-align">
                <a href="{{ url_for('get_categories') }}" class="btn-large deep-orange darken-2 text-shadow">
        Cancel<i class="fas fa-times-circle right"></i></a>

          <button class="btn-large cyan lighten-2 text-shadow" type="submit">
          Update Category
    <i class="fas fa-edit right"></i>
  </button>
        </div>
        </div>      
    </form>
  </div>

{% endblock %}